$text-color:            #f2f2f2 !default;
$text-color-light:      #bdbdbd !default;
$background-color:      #0e0e0e !default;
$code-background-color: #161616 !default;

$border-color:          #2a2a2a !default;
$border-color-light:    #1e1e1e !default;
$border-color-dark:     #3a3a3a !default;

$link-base-color:       #f5f5f5 !default;
$link-visited-color:    #f5f5f5 !default;

$table-text-color:      #f5f5f5 !default;
$table-zebra-color:     #141414 !default;
$table-header-bg-color: #191919 !default;
$table-header-border:   #2a2a2a !default;
$table-border-color:    #252525 !default;

$pre-shadow:            none !default;
$dropdown-shadow:       0px 8px 16px 0px rgba(0,0,0,0.45) !default;

$subscribe-color:       #f5f5f5 !default;

@import "midnight";
